---
import "../styles/global.css";
import Main from "@/layouts/main.astro";
import { BlockFactory } from "@/components/BlockFactory";
import pageData from "@/data/index.json";

export function getStaticPaths() {
    return [
        { params: { lang: "en" } },
        { params: { lang: "lv" } },
        { params: { lang: "ru" } },
    ];
}

const { lang } = Astro.params as { lang: "en" | "lv" | "ru" };
const content = pageData.meta[lang];
const blocks = [...pageData.blocks].sort((a, b) => a.order - b.order);
---

<Main content={content}>
    {
        blocks.map((block) => (
            <BlockFactory client:load block={block} lang={lang} />
        ))
    }
</Main>
