---
import "../styles/global.css";
// Component Imports
import Main from "@/layouts/main.astro";
import { HeroSection } from "@/components/hero-section";
import { BenefitsSection } from "@/components/benefits-section";
import { SolutionSection } from "@/components/solution-section";
import { FeatureSection } from "@/components/feature-section";
import { GallerySection } from "@/components/gallery-section";
import { Faq } from "@/components/faq";
import { ContactsSection } from "@/components/contacts-section";
import { BookCall } from "@/components/book-call";
import { ServicesSection } from "@/components/services-section";

const content = {
    title: "DryIce Baltic | Sausā ledus piegāde un pakalpojumi",
    description:
        "Sausā ledus piegāde un pakalpojumi Latvijā un Baltijā. Profesionāli risinājumi tīrīšanai, pasākumiem un rūpniecībai.",
};
---

<Main content={content}>
    <HeroSection client:load />
    <BookCall client:load />
    <ServicesSection client:load />
    <BenefitsSection client:load />
    <SolutionSection client:load />
    <FeatureSection client:load />
    <GallerySection client:load />
    <ContactsSection client:load />
    <Faq client:load />
</Main>
