---
import "../styles/global.css";
// Component Imports
import Main from "@/layouts/main.astro";
import { MainSection } from "@/components/main-section";
import { HeroSection } from "@/components/hero-section";
import { BenefitsSection } from "@/components/benefits-section";
import { SolutionSection } from "@/components/solution-section";
import { FeatureSection } from "@/components/feature-section";
import { GallerySection } from "@/components/gallery-section";
import { Faq } from "@/components/faq";
import { ContactsSection } from "@/components/contacts-section";
import { BookCall } from "@/components/book-call";
import { ServicesSection } from "@/components/services-section";

const content = {
    title: "DryIce Baltic | Sausā ledus piegāde un pakalpojumi",
    description:
        "Sausā ledus piegāde un pakalpojumi Latvijā un Baltijā. Profesionāli risinājumi tīrīšanai, pasākumiem un rūpniecībai.",
};
---

<Main content={content}>
    <div id="home">
        <MainSection client:load />
    </div>
    <div id="about">
        <HeroSection client:load />
        <BenefitsSection client:load />
    </div>
    <div id="solutions">
        <SolutionSection client:load />
        <BookCall client:load />
    </div>
    <div id="machines">
        <ServicesSection client:load />
    </div>
    <div id="services">
        <FeatureSection client:load />
    </div>
    <div id="gallery">
        <GallerySection client:load />
    </div>
    <div id="contacts">
        <ContactsSection client:load />
        <Faq client:load />
    </div>
</Main>
