---
import "../styles/global.css";
// Component Imports
import { BentoGrid1 } from "@/components/pro-blocks/landing-page/bento-grids/bento-grid-1";
import Main from "@/layouts/main.astro";
import { HeroSection } from "@/components/hero-section";
import { ContactsSection } from "@/components/contacts-section";
import { GallerySection } from "@/components/gallery-section";
import { Faq } from "@/components/faq";
import { FeatureSection } from "@/components/feature-section";
import { BenefitsSection } from "@/components/benefits-section";
import { SolutionSection } from "@/components/solution-section";

const content = {
    title: "Welcome to Astro!",
    description:
        "A modern web framework for building fast and powerful websites.",
};
---

<Main content={content}>
    <HeroSection client:load />
    <BenefitsSection client:load />
    <SolutionSection client:load />
    <FeatureSection client:load />
    <GallerySection client:load />
    <ContactsSection client:load />
    <Faq client:only />
</Main>
